/* 
상속
- 하위 태그들한테도 스타일이 적용된다.


*/

div.list{
    color: red;
    background-color: antiquewhite;
    border : 10px solid black;
    padding: 10px;
    margin: 10px;
}
h2{
    background-color: red;
    float: left; /*  인접한 태그와 붙는다? 섞인다 */
}
h3{
    background-color: blue;
}
h4{
    background-color: green;
}